<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Hey there, Oomeranger!</h1>
      </div>
      <div class="modal-body">
          <p class="lead">Oomerang makes it easy to return things you've found to their owners, or post stuff you've lost so that someone who finds it can find you.</p>
          <p>Just pinpoint the lost or found location, enter a few details, and you'll get an email when someone wants to get in touch.</p>
          <div class="well">Oomerang was built by <a href="https://github.com/gomezlavin/">@gomezlavin</a>, <a href="https://github.com/negomi/">@negomi</a>, <a href="https://github.com/sjgjohnston/">@sjgjohnston</a> and <a href="https://github.com/wcargen/">@wcargen</a> during General Assembly's WDI program in San Francisco.</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
