<div class="col-md-3" id="panel">
    <p>Oomerang is a new kind of lost &amp; found. Simply find your location on the map and click to add an item.</p>
    <%= render "search_form" %>
    <%#= render "filter" %>

    <div id="dynamicDivWrap">
	  <a id='closeBtnDiv' onclick='closeDynamicDiv()'>Close</a>
	  <div id="dynamicDiv"></div>
    </div>

    <%#= collection_select(:item, :category_id, Category.all, :parent_id, :name, {:prompt   => "Pick a category"}) %>

</div><!-- End panel -->

<div id="map-canvas"></div><!-- End map -->
