<div class="col-xs-12 col-sm-6 col-md-3" id="panel">
    <%= render "search_form" %>
    <%#= render "filter" %>

    <div id="dynamicDivWrap">
	  <a id='closeBtnDiv' onclick='closeDynamicDiv()' class="glyphicon glyphicon-remove"></a>
	  <div id="dynamicDiv"></div>
    </div>

    <%#= collection_select(:item, :category_id, Category.all, :parent_id, :name, {:prompt   => "Pick a category"}) %>

</div><!-- End panel -->

<div id="map-canvas"></div><!-- End map -->
