<div class="container">
      <!-- Jumbotron -->
      <div class="jumbotron">
        <div class="row">
            <div class="col-md-6 col-md-offset-5">
                <br>
                <h1>Hey there, Oomerangers!</h1>
                <p class="lead"><strong>Oomerang makes it easy to return things you've found to their owners, or post stuff you've lost so that someone who finds it can find you.</strong></p>
                <p>Pinpoint the lost or found location, enter a few details, then wait for people to get in touch.</p>
                <p><a href="http://oomerang.it/" class="welcome-btn btn btn-lg btn-lost" href="#" role="button">Check it out</a></p>
            </div>
        </div>
      </div>
      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Oomerang 2013</p>
      </div>
</div> <!-- /container -->
