<div class="well">
    <a id='closeBtnDiv' onclick='closeDynamicDiv()' class="glyphicon glyphicon-remove"></a>
    <p>Thank you! Your contact details have been shared with the other Oomeranger. Now all you have to do is sit back and wait to hear from them.</p>
</div>

