<div class="panel panel-default">
    <div class="well">
        <p>Thank you! Your contact details have been shared with the other Oomeranger. Now all you have to do is sit back and wait to hear from them.</p>
        <input class='btn btn-default' type="submit" value="Close" onclick='closeDynamicDiv()'>
    </div>
</div>
