<div class="well">
    <a id='closeBtnDiv' onclick='closeDynamicDiv()' class="glyphicon glyphicon-remove"></a>
    <h2>Hey there!</h2>
    <p>You'll have to <a href="#" data-toggle="modal" data-target="#signInModal">sign in</a> or <a href="#" data-toggle="modal" data-target="#signUpModal">sign up</a> to do that.</p>
</div>
