<div id='lostFormWrap'>
  <!-- <form method="get" action="/users/sign_in"> -->
    <div class="lostLabel">USER SIGN-IN</div>
    <div class='whiteBackground'>
        <p>Please <a href="#" data-toggle="modal" data-target="#signInModal">sign in</a> or <a href="#" data-toggle="modal" data-target="#signUpModal">sign up</a> before registering a new item.</p>
    </div>
  <!-- </form> -->
</div>
