<div class="well">
    <p>Just so we know it's yours, please answer this question about the item:</p>
    <h3><%= value.secret%></h3>
    <textarea id='contentAnswer'rows="3" placeholder='Type your answer...'></textarea>
    <input class='btn btn-default' type="submit" value="Submit" onclick='emailSent()'>
    <input class='btn btn-default' type="submit" value="Cancel" onclick='closeDynamicDiv()'>
</div>

