<div class="well">
    <a id='closeBtnDiv' onclick='closeDynamicDiv()' class="glyphicon glyphicon-remove"></a>
    <p>So we know it's yours, please answer this question about the item:</p>
    <h3><%= value.secret%></h3>
    <input class="form-control" id='contentAnswer' placeholder='Type your answer...'></input>
    <input class='btn btn-default' type="submit" value="Submit" onclick='emailFounder()'>
</div>

