<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Welcome, Oomeranger!</h1>
      </div>
      <div class="modal-body intro-text">
        <p>Oomerang makes it easy to return things you've found to their owners, or post stuff you've lost so that someone who finds it can find you.</p>
        <p>Pinpoint the lost or found location, enter a few details, then wait for people to get in touch.</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default">Learn more</a>
        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#signUpModal">Sign up</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
